<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <a href="http://www.github.com/SeedAction/bobalice"><em>Bobalice</em></a> application is kind of a sandbox right now.</br>
  Just wait for it!</br>
</p>
<a href="/">Home</a>